torch==2.6.0
transformers==4.49.0
peft>=0.7.0
datasets==3.3.2
accelerate==1.4.0
bitsandbytes>=0.41.0
flash-attn==2.7.4.post1
sympy==1.13.1
tqdm==4.67.1
scipy>=1.11.0
numpy==2.2.3
huggingface-hub==0.29.1